:root {
  font-size: 62.5%;
  --color-primaryColor: #222222;
  --color-primaryAltColor: #303e4f;
  --color-primaryAltColorLight1: #4f637b;
  --color-primaryAltColorLight2: #73869e;
  --color-grayColor1: #828282;
  --color-grayColor2: #bdbdbd;
  --color-grayColor3: #e0e0e0;
  --color-grayColor4: #f2f2f2;
  --color-secondaryColor: #ffe401;
  --color-successColor: #4bca81;
  --color-alertColor: #eb5757;
  --color-warningColor: #f7ba00;
  --color-otherColor: #2d9cdb;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "work sans", "system-ui", "sans-serif";
  line-height: 1.4;
  text-align: justify;
}

body {
  background: white;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body,
input,
button,
textarea {
  font: 500 1.6rem Rubik;
  color: var(--color-text-base);
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active,
a:focus {
  outline: none;
  outline-style: none;
  -moz-outline-style: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}
